@media(max-width:900px){

.hero{
flex-direction:column;
padding-top:180px;
height:auto;
}

.left{
width:100%;
text-align:center;
}

.title{
font-size:50px;
}

.marathi{
font-size:35px;
}

.poster-box{
width:320px;
height:500px;
}

nav{
flex-direction:column;
gap:20px;
}

nav ul{
flex-wrap:wrap;
justify-content:center;
}

}